<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bioyagari</title>
    <style>
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            margin-top:30px
        }

            .container img {
                width: 40%;
                border-radius: 8px;
                margin-right: 20px;
            }

            .container p {
                width: 55%;
                margin: 0;
            }
    </style>
</head>
<body>

    <div class="container">
        <img src="urun_gorseli.jpg" alt="Ürün Görseli">
        <p>
            UZMAN DİYETİSYEN ŞEYMA KILINÇ
            <br />

            2001 İstanbul doğumluyum. İstanbul Gelişim Üniversitesi Beslenme ve Diyetetik bölümü, sağlık bilimleri fakültesini onur derecesinde tamamladım. İstanbul Gelişim Üniversitesi Sağlık Bilimleri Fakültesi Beslenme ve Diyetetik Bölümü Öğrenci Dergisinde akademik makale hazırlamada katılım sağladım, tezimi diyabetli bireylerde kullanımı en iyi olan tahıllar konusu üzerinde hazırladım. İstanbul Üniversitesi Çapa Tıp Fakültesi Hastanesinde Diyabet ve metabolizma alanında staj eğitimimi gördüm. Aynı zamanda Kızılay Hastanesi (Derindere) ve özel klinik alanlarında stajlarımı tamamladım.
            Yüksek Lisansım Haliç Üniversitesi Sağlık Bilimleri Enstitüsünden Uzmanlık programımı tamamlayarak mezun oldum.
            Aynı zamanda beslenme ve diyetetik bölümü alanınca çeşitli belgeler ve sertifikalarım bulunmaktadır.
            2021 Yılında Yeditepe Üniversitesinden Profesyonel Uzman Yaşam Koçluğu eğitimimi tamamladım, profesyonel uzman yaşam koçluğu, holistik koçluk ve temel psikoloji sertifikası aldım. Bununla birlikte Danışanlarımla yaşam koçluğu ile seanslarımızı birleştirerek, danışanlarımın beslenme alanındaki olumsuz yeme tutumlarını düzelttik. Yaşam koçluğuyla beraber danışanlarımın sadece yeme tutumları değişmemekle beraber, hayatlarındaki başa çıkamadıkları sorunları çözebilme ve yol çizebilme, özgüven kazanma, yaşam kalitesini arttırma, motivasyon kazanma, kendini sevme ve değer verme, iş alanında başarı ve aile, arkadaşlık, eş ilişkileri üzerinde  yaptığımız seans görüşmeleri ile hem beslenme alanında sağlıklı beslenmeye geçiş yaptık, yeme ataklarını çözdük ve daha sağlıklı bir yaşam tarzı oluşturduk.
        </p>
    </div>

    <!-- Birden fazla ürün ekleyebilirsiniz -->

</body>
</html>
