<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Paket Adı</h5>
                    <p class="card-text">Paket içeriği buraya yazılabilir.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Özellik 1</li>
                    <li class="list-group-item">Özellik 2</li>
                </ul>
                <div class="card-body">
                    <p class="card-text text-muted" style="text-decoration-line: line-through;">Fiyat: $XX.XX</p>
                    <p class="card-text text-danger">İndirimli Tutar: $YY.YY</p>
                </div>
            </div>
        </div>
        <!-- Diğer paketler buraya eklenebilir -->
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Paket Adı</h5>
                    <p class="card-text">Paket içeriği buraya yazılabilir.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Özellik 1</li>
                    <li class="list-group-item">Özellik 2</li>
                </ul>
                <div class="card-body">
                    <p class="card-text">Fiyat: $XX.XX</p>
                    <p class="card-text text-muted">İndirimli Tutar: $YY.YY</p>
                </div>
            </div>
        </div>

    </div>
</div>
