<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paketler</title>
    <style>
        .container,
        .row {
            background-color: #f0f0f0;
          
        }
    </style>
</head>
<body>

    <div class="container mt-5 w-100">
        <div class="row">
            <!-- Diğer paketler buraya eklenebilir -->
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">PAKET 1</h5>
                        <p class="card-text">TEK SEANS</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">1 Liste</li>
                        <li class="list-group-item">2 Kilo Kontrolü</li>
                    </ul>
                    <div class="card-body">
                        <p class="card-text">Fiyat: ₺475,00</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">PAKET 2</h5>
                        <p class="card-text">1 AYLIK PAKET</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">2 Liste</li>
                        <li class="list-group-item">4 Kilo Kontrolü</li>
                    </ul>
                    <div class="card-body">
                        <p class="card-text text-muted" style="text-decoration-line: line-through;">Fiyat: ₺950,00</p>
                        <p class="card-text text-danger">İndirimli Tutar: ₺805,00</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">PAKET 3</h5>
                        <p class="card-text">2 AYLIK PAKET.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">4 Liste</li>
                        <li class="list-group-item">8 Kilo kontrolü</li>
                    </ul>
                    <div class="card-body">
                        <p class="card-text text-muted" style="text-decoration-line: line-through;">Fiyat: ₺1900,00</p>
                        <p class="card-text text-danger">İndirimli Tutar: ₺1520,00</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">PAKET 4</h5>
                        <p class="card-text">3 AYLIK PAKET</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">6 Liste</li>
                        <li class="list-group-item">12 Kilo Kontrolü</li>
                    </ul>
                    <div class="card-body">
                        <p class="card-text text-muted" style="text-decoration-line: line-through;">Fiyat: ₺2850,00</p>
                        <p class="card-text text-danger">İndirimli Tutar: ₺2135,00</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">ARTI PAKET</h5>
                        <p class="card-text">YAŞAM KOÇLUĞU</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">45/50dk yaşam koçluğu</li>
                    </ul>
                    <div class="card-body">
                        <p class="card-text text-muted" style="text-decoration-line: line-through;">Fiyat: ₺475,00</p>
                        <p class="card-text text-danger">Diyet Paketi Alana İndirimli Tutar: ₺400,00</p>
                    </div>
                </div>
            </div>

            

        </div>
    </div>

</body>
</html>
