@model beslenme.DTOs.belKalcaDTO

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bel Kalça Oranı Hesaplama</title>
</head>
<body>
    <h2>Bel Kalça Oranı Hesaplama</h2>

    <form asp-action="belKalcaOraniHesaplama" method="post">
        <div>
            <label for="bel">Bel (cm):</label>
            <input asp-for="bel" class="form-control" type="number" />
        </div>
        <div>
            <label for="kalca">Kalça (cm):</label>
            <input asp-for="kalca" class="form-control" type="number" />
        </div>
        <button type="submit">Hesapla</button>
    </form>

    <div>
        <h3>Bel/Kalça Oranınız: @ViewBag.Sonuc</h3>
    </div>
</body>
</html>
